.stoyArea{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 160px;
}
.stoyArea::before{
    content: '';
    background-image: url('/public/bgImg2.webp');
    position: absolute;
    height: 400px;
    width: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    left: 0%;
    top: 22%;
}
.stoyArea::after{
    content: '';
    background-image: url('/public/bgImg1.webp');
    position: absolute;
    height: 400px;
    width: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    right: 0%;
    top: 22%;
}
.storyContent-area{
    width: 1200px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 40px;
}
.Imagebox{
    width: 530px;
    position: relative;
}
.Imagebox::before{
    content: '';
    width: 350px;
    height: 350px;
    background-image: url(/public/storyCorner-Img.webp);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -16%;
    left: -26%;
}
.containtBox{
    flex: 1;
    padding: 20px;
}
.containtBox H1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 44px;
    font-family: Arial, Helvetica, sans-serif;
}
.containtBox p{
    font-size: 16px;
    margin-bottom: 35px;
    line-height: 30px;
    color: #978e98;
}