*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.naveBAR{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}
.container{
    width: 1200px;
}
.navigationSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navList{
    float: right;
    font-family: Arial, Helvetica, sans-serif;
}
.navList ul{
    display: flex;
    list-style: none;
}
.logoArea{
    cursor: pointer;
}
