.partener-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 0;
}
.partener-area{
    width: 1200px;
    text-align: center;
}
.parternerHedding h2{
    color: #362d2b;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 66px;
    line-height: 1.3;
    font-family: "Playfair Display",serif;
}
.partenerItem{
    display: flex;
    align-items: center;
    justify-content: space-between  ;
}